# Listener setup
listener 1883
protocol mqtt

# Allow anonymous connections
allow_anonymous true

# Bridge configuration
connection local-to-global
address {{BRIDGE_ADDRESS}}
topic # both 0
try_private true
